* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #336699;
}

.wrapper {
  max-width: 80%;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 4rem;
  color: #424949;
  text-align: center;
}

input {
  display: none;
}

.accordion {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  transition: .3s;
}

.label {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: rgba(51, 102, 153, 0.2);
  border-radius: 0.4rem;
}

.label__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 3.5rem;
}

.icon {
  display: none;
  width: 3rem;
  height: 3rem;
  background-image: url(./assets/svg/plus.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.label__body {
  display: none;
  justify-content: center;
  align-items: center;
}

img {
  width: 60%;
}

/* Accordion behavior */

#radio-1:checked ~ .label .label__body_1,
#radio-2:checked ~ .label .label__body_2,
#radio-3:checked ~ .label .label__body_3,
#radio-4:checked ~ .label .label__body_4,
#radio-5:checked ~ .label .label__body_5 {
  display: flex;
}

#radio-1:checked ~ .label_1,
#radio-2:checked ~ .label_2,
#radio-3:checked ~ .label_3,
#radio-4:checked ~ .label_4,
#radio-5:checked ~ .label_5 {
  color: #424949;
}

#radio-1:checked ~ .label_1 .icon,
#radio-2:checked ~ .label_2 .icon,
#radio-3:checked ~ .label_3 .icon,
#radio-4:checked ~ .label_4 .icon,
#radio-5:checked ~ .label_5 .icon {
  background-image: url(./assets/svg/cross.svg);
}

/* Media queries */

@media (max-width: 850px) {
  body {
    font-size: 1.6rem;
  }
  h1 {
    font-size: 3rem;
  }
}

@media (max-width: 500px) {
  body {
    font-size: 1.3rem;
  }
  h1 {
    font-size: 2rem;
  }
  img {
    width: 90%;
  }
}

@media (hover: none) {
  .icon {
    display: block;
  }
}

@media (hover: hover) {
  .accordion:hover,
  .accordion:hover .label {
    color: #424949;
    cursor: pointer;
  }
  .accordion:hover .label__header .icon {
    display: block;
  }
  .label:hover .label__body {
    display: flex;
  }
  .label:hover .icon {
    background-image: url(./assets/svg/cross.svg);
  }
}
