* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.wrapper {
  max-width: 80%;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper_header {
  padding: 2rem 0;
}

.wrapper_main {
  padding: 0 0 2rem;
}

h1 {
  font-size: 4rem;
  color: #424949;
  text-align: center;
}

input {
  display: none;
}

.accordion {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 2rem;
  color: #336699;
  transition: color .2s linear;
}

.label {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: rgba(51, 102, 153, 0.2);
  border-radius: 0.4rem;
  cursor: pointer;
  transition: opacity .3s;
}

input:checked ~ .label {
  color: #424949;
  gap: 1rem;
}

.label:active {
  opacity: 0.6;
}

.label__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 3.5rem;
}

.icon {
  opacity: 1;
  display: block;
  width: 3rem;
  height: 3rem;
  background-image: url(./assets/svg/plus.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity .3s ease-in-out;
}

input:checked ~ .label .icon,
.label:hover .icon {
  background-image: url(./assets/svg/cross.svg);
}

.label__body {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 0;
  height: 0;
  opacity: 0;
  transition: all .5s ease-in-out;
}

input:checked ~ .label img {
  width: 40%;
  height: auto;
  opacity: 1;
}

/* Media queries */

@media (hover: hover) {
  .icon {
    opacity: 0;
  }

  .accordion:hover {
    color: #424949;
  }

  .accordion:hover .icon {
    opacity: 1;
  }

  .label:hover {
    gap: 1rem;
  }

  .label:hover img {
    width: 40%;
    height: auto;
    opacity: 1;
  }
}

@media (max-width: 850px) {
  .accordion {
    font-size: 1.6rem;
  }

  h1 {
    font-size: 3rem;
  }
}

@media (max-width: 500px) {
  .accordion {
    font-size: 1.3rem;
  }

  h1 {
    font-size: 2rem;
  }

  .label:hover img,
  input:checked ~ .label img {
    width: 90%;
  }
}
